/* _content/ViewModelFun/Views/Shared/_Layout.cshtml.rz.scp.css */
a[b-37gzzmom9h] {
  font-size: 25px;
  margin: 20px ;
}

nav[b-37gzzmom9h] {
  display: flex;
  margin: 20px auto;
  width: 50%;
  justify-content: space-around;
}
