@{
    ViewData["Title"] = "Privacy Policy";
}

@model Info

<div>
    <h1>Results</h1>

        <div class="box">
            <p>Name: @Model.Name</p>
            <p>Location: @Model.Location</p>
            <p>Favorite Langauge: @Model.Langauge</p>
            <p>Comment (optional): @Model.Comment</p>
        </div>

        <button id="btn"><a href="/">Go Back</a></button>
</div>
