<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" >
        <link rel="stylesheet" href="~/css/style.css">
        <title>Results!</title>
        
    </head>
    <body>
        <h1>Results</h1>

        <div class="box">
            <p>Name: @ViewBag.Name</p>
            <p>Location: @ViewBag.Location</p>
            <p>Favorite Langauge: @ViewBag.Langauge</p>
            <p>Comment (optional): @ViewBag.Comment</p>
        </div>

        <button id="btn"><a href="/">Go Back</a></button>
    </body>
</html>

