/* _content/ChefsNDishes/Views/Shared/_Layout.cshtml.rz.scp.css */
a[b-6irr3pmy49] {
  font-size: 30px;

}

nav[b-6irr3pmy49] {
  display: flex;
  justify-content: space-evenly;
  width: 50%;
  margin: 50px auto;
  align-items: center;
}

span[b-6irr3pmy49] {
  font-size: 30px;
}
