@{
    ViewData["Title"] = "Plan a Wedding Page";
}

@model MyViewModel

<div class="mt-5 top">
    <h1>Welcome @Model.User.FirstName </h1>
    <a href="Dashboard" class="btn btn-dark">Home</a>
    <a href="" class="btn btn-primary">Plan a Wedding</a>
    <a href="/user/logout" class="btn btn-danger">Logout</a>
</div>

<div>
    <h2 class="mt-3" >Plan a Wedding </h2>
    @await Html.PartialAsync("~/Views/Wedding/_WeddingForm.cshtml", Model.Wedding)
</div>