html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.top {
  display: flex;
  justify-content: space-around;
  border-bottom: 2px solid black;
}

.log {
  font-size: 25px;
}

.num {
  text-align: center;
  margin-top: 50px;
  font-size: 100px;
}