html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

h1 {
  text-decoration: underline 2px solid black;
  text-underline-offset: 10px;
}

table {
  font-size: 30px;
  border: 2px solid black;
  width: 100%;
}

thead {
  background-color: rgb(124, 121, 121);
  color: white;
}

th {
  text-align: left;
}

td {
  text-align: left;
}



label {
  font-size: 30px;
}

.button {
  margin-top: 50px;
  font-size: 25px;
}

.d {
  display: block;
  margin: 10px 0px 30px 0px;
}